# Build results
bin/
obj/
out/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# VS Code settings
.vscode/

# Rider settings
.idea/

# Test results
TestResults/
*.trx
*.coverage
*.coveragexml

# Dotnet artifacts
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Others
*.ncrunch*
*.localhistory
*.resharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Global tool restore cache
.dotnet_tool/

# Ignore generated global usings
**/obj/**/*.g.cs
